@use 'modules/fonts' as font;
@use 'modules/func_template' as fun;

@include fun.css-reset();
@include font.font("poppins", "poppins-regular-webfont");

.wrapper {
    @include fun.size(100%, 55vh);
    @include fun.bg-config('home','bg','png');
}

nav {
    padding: 10px;
    box-sizing: border-box;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 999;
    background-color: #fff;;

    section.sec-one{
        @include fun.size(70%, 100%);
        @include fun.display-config(flex, center, space-between);

        padding: 20px;
        box-sizing: border-box;

        ul {
            @include fun.size(80%, 100%);
            @include fun.display-config(flex, center, space-evenly);

            list-style: none;
            list-style-type: none;

            li a {
                padding: 10px;

                cursor: pointer;
                text-decoration: none;
                text-transform: capitalize;

                @include fun.font-config('poppins', 15px, bold, #000);
            }

            li a:hover {
                color: #fff;
                background-color: #2A7FCE;
            }
        }
    }

    section.sec-two {
        @include fun.size(400px, 100%);
        @include fun.display-config(flex, center, space-evenly);

        .contact-our {
            @include fun.display-config(flex, center, space-evenly);

            img {
                @include fun.size(45px, 45px);
                margin-right: 20px;
            }

            p { line-height: 20px; }
        }

        a {
            @include fun.size(120px, 35px);
            text-decoration: none;
            text-transform: capitalize;
            color: #fff;
            background-color: #2A7FCE;
            line-height: 35px;
            text-align: center;
        }
    }

    @include fun.display-config(flex, center, space-between);
}

main {
    text-transform: capitalize;

    .main-wrapper {
        margin-top: 80px;
        padding: 3rem;

        p.subtext-one {
            @include fun.font-config("poppins", 15px, normal, #fff);
        }

        section.text-header {
            @include fun.size(50%, 50%);
            @include fun.font-config("poppins", 2rem, normal, #fff);
            line-height: 3rem;
        }

        section.subtext-two {
            @include fun.size(50%, 50%);
            @include fun.font-config("poppins", 12px, normal, #fff);
            margin-top: 10px;
            margin-bottom: 30px;
            line-height: 15px;
        }

        section.btn-wrap > div  {
            @include fun.font-config("poppins", 15px, normal, #fff);

            a {
                padding: 15px;
                margin-right: 10px;

                color: #fff;
                cursor: pointer;
                text-decoration: none;
                border: 1px solid white;
            }

            a.to-login {
                background-color: #2A7FCE;
            }

            a.to-login:hover {
                color: #fff;
                background-color: #000;
            }

            a.to-more:hover {
                color: #000;
                background-color: #fff;
            }
        }
    }

    .bottom-main-content {
        @include fun.display-config(flex, center, space-evenly);
        margin-top: 50px;

        .option-delivery {
            h2 {
                @include fun.font-config('poppins', 2rem, bold, #2A7FCE);

                margin-bottom: 30px;
            }

            .sub-option-delivery-text {
                p {
                    @include fun.font-config('poopins', 1.5rem, normal, #000);

                    margin-bottom: 10px;
                }
            }

            .advantage {
                @include fun.display-config(flex, center, space-between);

                li {
                    margin-top: 20px;
                    flex: 1;
                }
            }
        }

        .main-desc {
            img {
                @include fun.size(300px, 300px)
            }
        }
    }
}
