@use 'modules/fonts' as font;
@use 'modules/func_template' as fun;
@use 'modules/css_reset';


* {
    @include font.font("poppins","poppins-regular-webfont");
    @include fun.font-config(1rem, normal, normal, #000);

    font-family: 'poppins';
}

// .wrapper { @include fun.size(100%, 100vh); }

// ----- styling background
.bg {
    @include fun.size(100%, 60vh);
    @include fun.bg-config('bg', 'png');

    box-sizing: border-box;
    padding-top: 3rem;
}


// ----- styling navbar
.nav-list {

    ul {

        li {
            a {
                @include fun.display-config(inline-block);
                @include fun.text-config(capitalize, none, center, #000);
            }

            a:hover {
                color: #fff;
                background-color: #48a2f7;
            }
        }
    }
}

// ----- styling main
.content-wrapper {

    box-sizing: border-box;

    section.btn-wrapper {

        button {
            @include fun.size(100px, 50px);
            @include fun.text-config(capitalize, none, center, #000);
        }

        a {
            @include fun.size(120px, 50px);
            @include fun.text-config(capitalize, none, center, #fff);

            display: inline-block;
            background-color: #1a82e4;
        }

        a:hover {
            color: #000;
            border: 2px solid #1a82e4;
            background-color: #fff;
        }

        button:hover {
            color: #fff;
            border: 2px solid #fff;;
            background-color: #000;
        }
    }

    .right-content {

        margin-top: 100px;

        .img-wrapper {
            img {
                @include fun.size(577px, 405px);
            }
        }
    }
}

.about-us {

    border: 2px solid 2px;

    .left {

        img.img-one {
            @include fun.size(400px, 200px);
            top: 20px;
            left: 20px;
        }

        img.img-two {
            @include fun.size(400px, 200px);
            top: 250px;
            left: 100px;
        }
    }

    .right {
        .contact-us {

            width: 350px;
            margin-top: 30px;
            box-sizing: border-box;

            div {
                img {
                    @include fun.size(70px, 70px);
                }

                p {
                    margin-top: 10px;;
                }
            }
        }
    }
}
