@mixin myfont($font-family, $filename, $weight: normal, $style: normal) {
    @font-face {
        font-family: "#{$font-family}";
        src: url('../../fonts/#{$filename}.woff') format('woff'),
             url('../../fonts/#{$filename}.woff2') format('woff2');

        font-weight: $weight;
        font-style: $style;
    }
}
