@mixin font($font-family, $filename, $weight: normal, $style: normal) {

    $font-path: '/fonts/';
    @font-face {
        font-family: '#{$font-family}';
        src: url('#{$font-path}#{$filename}.woff') format('woff'),
             url('#{$font-path}#{$filename}.woff2') format('woff2');

        font-weight: $weight;
        font-style: $style;
    }
}
