// konfigurasi ukuran elemen
@mixin size($width, $height) {
    width: $width;
    height: $height;
}

// konfigurasi margin dan padding
@mixin margin-config($type, $size: 0px, $top: 0px, $right: 0px, $bottom: 0px, $left: 0px) {
    @if ($type == 'all') {
        margin: $size;
    } @else {
        margin-top: $top;
        margin-right: $right;
        margin-bottom: $bottom;
        margin-left: $left;
    }
}

@mixin padding-config($type, $size: 0px, $top: 0px, $right: 0px, $bottom: 0px, $left: 0px) {
    @if ($type == 'all') {
        padding: $size;
    } @else {
        padding-top: $top;
        padding-right: $right;
        padding-bottom: $bottom;
        padding-left: $left;
    }
}

// konfigurasi font
@mixin font-config($font-size: 12px, $font-style: normal, $font-weight: normal, $color: #fff) {
    color: $color;
    font-size: $font-size;
    font-style: $font-style;
    font-weight: $font-weight;
}

// konfigurasi text
@mixin text-config($text-transform: lowercase, $text-decoration: none, $text-align: center, $color: #fff) {
    color: $color;
    text-align: $text-align;
    text-transform: $text-transform;
    text-decoration: $text-decoration;
}

// konfigurasi display
@mixin display-config($my-display: block, $align-items: center, $justify-content: center, $direction: row) {
    display: $my-display;
    align-items: $align-items;
    flex-direction: $direction;
    justify-content: $justify-content;
}

// konfigurasi posisition
@mixin position-config($position) {
    @if ($position == fixed) {
        position: $position;
        z-index: 999;
        top: 0; right: 0; left: 0;
    }
}

// konfigurasi background
@mixin bg-config($folder, $file-name, $format ) {
    $image-path: '../images/#{$folder}/';

    background-image: url('#{$image-path}#{$file-name}.#{$format}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
